<!DOCTYPE html>
<html>
    <head>
        <title><%= serial %></title>
        <%- include("partials/links.ejs") %>
    </head> 
    <body>
        <%- include("partials/header.ejs") %>

        <div class="container">
            <h1>Серийный номер: <%= serial %></h1>
            <table class="content-table">
                    <%- database %>
            </table>
        </div>

        <%- include("partials/footer.ejs") %>
    </body>
</html>